*.ipynb_checkpoint*
*.png
*/modules/*
.*old/*
*/refined_modules/*
*.pickle
*__pycache__/*
*/trash/*
*.csv
*.pyc
ModuleRefinement/__pycache__*
./examples/modules/*
./examples/refined_modules/*
./experiments/modules/*
./exeriments/refined_modules/*
./data/*salmonella*
./sanity/refined_modules_sanity*
